@import "userInfo.css";
@import "button.css";

.navbar {
	height:80px;
	width:100%;
	display: flex;
    justify-content: space-between;
	align-items: center;
    padding-right: 8%;
    padding-left: 8%;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 25;
}

.navbar .logo-container{
	display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .logo-container .logo{
    height:50px;
}

.navbar .logo-container .logo-text{
	color: #2ed0cb;
	margin-right: 5px;
}

.navbar .user-info-div .offset{
    height: 45px;
}

.navbar .user-button{
	display: flex;
	align-items: center;
	font-size:20px;
	background-color: transparent;
	border: none;
    color: #52489c;
    /* left: 0px;
    position: absolute; */
}

.navbar .user-info-div{
    width: 200px;
    top: 20px;
}

.navbar .user-button .title{
	margin-right: 5px;
}

.navbar .user-info-div .user-button .fa-smile-o{
    margin-left: 5px;
}